<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title> Tonie Web</title>
    <link rel="icon" href="https://icons.getbootstrap.com/assets/icons/boombox.svg" sizes="32x32" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#"><i class="bi bi-emoji-smile"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	     <span class="navbar-toggler-icon"></span>
	 </button>
         <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
	         <li {% if page == 'home' %} class="nav-item active"{% endif %}> 
                     <a class="nav-link" href="{{ url_for('home') }}"><i class="bi bi-house-door"></i> Home <span class="sr-only">Home</span></a>
            </li>
            <li {% if page == 'chapters' %} class="nav-item active"{% endif %}>
                <a class="nav-link" href="{{url_for ('chapters')}}"><i class="bi bi-file-earmark-music"></i> Speicher</a>
            </li>
            <li {% if page == 'upload' %} class="nav-item active"{% endif %}>
                <a class="nav-link" href="{{ url_for('upload') }}"><i class="bi bi-cloud-upload"></i> Hochladen</a>
            </li>
            <li {% if page == 'delete' %} class="nav-item active"{% endif %}>
                <a class="nav-link" href="{{url_for ('delete')}}"><i class="bi bi-trash"></i> Löschen</a>
            </li>
            <li {% if page == 'info' %} class="nav-item active"{% endif %}>
                <a class="nav-link" href="{{url_for ('info')}}"><i class="bi bi-info-square"></i> Info</a>
            </li>
	    </ul>
        </div>
        <div class="me-auto"></div><span class="navbar-text"><i class="bi bi-hdd"></i> Speicherplatz<div class="progress w-100 " >         
            <div class="progress-bar" role="progressbar" style="width: {{capacity}}%" aria-valuenow="{{capacity}}" aria-valuemin="0" aria-valuemax="100">{{capacity}}%</div>
        </div>

</div>
    </nav> <br>
<br>
{% block content %}
{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  <div class="alert {{category}} alert-dismissible fade show" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ message|capitalize }}</strong>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}
</body>
<footer class="bg-light text-center text-white text-lg-start">
    <div class="text-center p-3" style="bg-light">
      <a class="nav-link" href=https://github.com/kabukimandelux/tonie_web><i class="bi bi-github"></i> Github</a>
    </div>
  </footer>
</html>