{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<form method="post" action="{{ url_for('upload') }}">
{% for dir in dirs %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div>
      </div><button type="submit" {{disabled}} class="btn btn-primary" name="choice" value="{{ loop.index }}"><i class="bi bi-cloud-upload"></i>  Hochladen</button>
  </div>
  <label class="form-check-label" for="flexCheckDefault"> {{ loop.index }} - {{dir}} <span class="badge bg-primary">{{number[loop.index-1]}}
  </span>
  </label>
</ul>

{% endfor %}

</form>
{% endblock %}
